{% extends "shop 1.0 smth idk/teaBase.html" %}

{% block body %}
<!-- shopping cart begins here -->

<body>
<div class="cart"></div>
</body>
<!-- css here-->
<div class="header">
    <h3 class="heading">Shopping Cart</h3>
    <h5 class="remove">Remove All</h5>
</div>
<!-- css here -->
<div class="items">
    <div class="images">
        <img src="static/TeePictures/buttonUp.png" style={{ height="120px" }}>
    </div>
    <div class="about">
        <h1 class="name"Classy Button Up Shirt"></h1>
        <h3 class="size"Large></h3>
    </div>
</div>
<!-- css here -->
<div class="price">
    <div class="money">$12.99</div>
    <div class="Remove"Remove</div>
</div>
<!-- css here -->
<div class="amount">
    <div class="btn">+</div>
    <div class="num">2</div>
    <div class="btn">-</div>
</div>
<!-- css here -->
<!-- repeat for each item -->

<hr>
<div class="checkout">
    <div class="total">
        <div>
            <div class="subtotal">Sub-Total</div>
            <div class="items">3 items</div>
        </div>
        <div class="totalm">$32.99</div>
    </div>
    <button class="button">Checkout</button>
</div>



{% endblock %}
