{% extends "layouts/base.html" %}

{% block body %}



<style>

    .button {
        background-color: #1c87c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: Comic Sans MS;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
    }
    @keyframes glowing {
        0% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
        50% {
            background-color: #8761f8;
            box-shadow: 0 0 20px #8761f8;
        }
        100% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
    }
    .button {
        animation: glowing 1300ms infinite;
    }


    table, th, td {
        border:1px solid #4709ff;
    }

    <style>
     .p1 {
         font-family: "Times New Roman", Times, serif;
     }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        color: rgba(255, 255, 255, 0.99);
        font-family: "Monaco", "Monaco", fantasy;
    }

    body {
        background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-color: #1c87c9;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
</style>

<center>
    <h1 class = "p3" style="text-align:center; ">“Ŕithwikh's Homepage!?</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <p class = "p3" style="text-align:center;">"Hello! I'm Ŕithwikh, a student at Del Norte High School. One of my favorite subjects in school this trimester is AP Computer Science Principles because it allows me to learn more every day and use what I learn to be creative and design new webpages and content. One thing that I enjoyed about this school year was our football season, where we got a winning record of 7-3, and competed well. In computer science, I want to learn how to code and to use code to fix issues and solve problems, because it's interesting to use code to try and come up with a solution to issues."
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <br>
    <div>

        <div class="d-flex justify-content-center mb-2">
            <button class="btn btn-primary" style="width: 69%" onclick="imageSwitch()"> Click! </button>
        </div>
        <div>
            <marquee behavior="alternate" direction="left" scrollamount = "14">
                <img id="imageSwitch" onclick="imageSwitch()" src="/static/assets/rithwikh/me.png" height="168" width="152">

            </marquee>
        </div>
    </div>

    <script>

        function imageSwitch(){
            const image = document.getElementById('imageSwitch')

            if (image.src.match("/static/assets/rithwikh/me.png")) {
                image.src = "/static/assets/rithwikh/AnotherOne.png" ;
            } else {
                image.src = "/static/assets/rithwikh/me.png";
            }
        }
    </script>


    <div>
        <a class="button" href="http://127.0.0.1:5000/">Homepage</a>
        <a class="button" href="http://127.0.0.1:5000/rithwikh/weather">Weather</a>
        <button onclick="displayDate()">Click to view the Time?</button>

        <script>
            function displayDate() {
                document.getElementById("yes").innerHTML = Date();
            }
        </script>

        <p id="yes"></p>


    </div>




    {% endblock %}

    {% block background %}
    {% endblock %}

</center>

