{% extends "daniel/d_template.html" %}

{% set imageurl = "/static/assets/backgrounds/shubham-dhage-unsplash-surreal.jpg" %}
{% set project = "Home" %}
{% set subheading = "Daniel's Home Page" %}

{% block under %}

<div class="parallax" style="height:max-content">
    <div class="frame" id="parallax-frame">
        <!-- New stuff goes here -->

        <div class="d-flex justify-content-center">
        Welcome to my site!
        <img id="imageSwitch" src="" style="cursor: pointer" onclick="imageSwitch()"> </div>
        </div>
    </div>
</div>

<script>
    function imageSwitch(){
        var
    }
</script>
{% endblock %}