{% extends "layouts/base.html" %}

{% block body %}



<style>

    .button {
        background-color: #1c87c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: Comic Sans MS;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
    }
    @keyframes glowing {
        0% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
        50% {
            background-color: #8761f8;
            box-shadow: 0 0 20px #8761f8;
        }
        100% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
    }
    .button {
        animation: glowing 1300ms infinite;
    }


    table, th, td {
        border:1px solid #4709ff;
    }

    <style>
     .p1 {
         font-family: "Times New Roman", Times, serif;
     }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        color: rgba(255, 255, 255, 0.99);
        font-family: "Monaco", "Monaco", fantasy;
    }

    body {
        background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-color: #1c87c9;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

</style>

<center>




    <div>
        <a class="button" href="http://127.0.0.1:5000/">Click To Return Home</a>
    </div>

    <form action="javascript:void(0);" onsubmit="showResults()">
        <label for="locations"> Location:</label>
        <select name="locations" id="locations">
            <option value="https://www.powr.io/weather/u/be801033_1638823897#platform=iframe">San Francisco</option>
            <input type="submit" value="Submit">
    </form>

    <div id="stats"></div>

    <script>
        /* This function displays the stats for the Padres of the user's year entered. */
        function showResults() {
            let location = document.getElementById("locations").value;
            document.getElementById("stats").innerHTML = '<object type = "text/html" data = "' + location + '"></object>';//
        }
    </script>

    {% endblock %}

    {% block background %}
    {% endblock %}

</center>

