<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">

    <img src="/static/assets/general/bassoonlogo.png" width="55" style="padding-right: 7px; padding-left: 7px; cursor: pointer" class="align-center" alt="" title="Home" onclick="location.href='/'">

    <a class="navbar-brand" href="/" style="font-family: Helvetica" title="Home">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Our Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/everitt/about">Everitt</a>
                    <a class="dropdown-item" href="/daniel/home">Daniel</a>
                    <a class="dropdown-item" href="/jun">Jun</a>
                    <a class="dropdown-item" href="/lucas/home">Lucas</a>
                    <a class="dropdown-item" href="/rithwikh/home">Ŕithwikh</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/mainframe/search">Search Testing</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="float-right">
            <input type="text" class="form-control" id="term" placeholder="Enter search term">
        </div>
        <div class="float-right me-3">
            <button class="btn btn-primary ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSearch" onclick="search_data();">Search</button>
            <!-- <button class="btn btn-primary" onclick="location.href='https://github.com/NinjaBreadLord/super-duper-bassoons'"> Github </button> -->
        </div>
    </div>
</nav>


<div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasEndLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasEndLabel">Search Results</h5>
    <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container">
        <div class="row" id="result">
        </div>
    </div>
  </div>
</div>


<script>
    function search_data() {
        // fetch standard requires data set to a name-value pair
        const term = document.getElementById("term");
        const body = {
            term: term.value
        };

    
        // fetch call with header options
        fetch('/mainframe/search/term/', {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(body),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            // async then replies with response header
            .then(function (response) {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // clean up from previous search
                while (resultContainer.firstChild) {
                    resultContainer.removeChild(resultContainer.firstChild);
                }
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Uh oh, looks like the database failed! Error: ' + response.status;
                    console.log(errorMsg);
                    const div = document.createElement("div");
                    div.innerHTML = errorMsg;
                    resultContainer.appendChild(div);
                    const imgdiv = document.createElement("img");
                    imgdiv.src = "/static/assets/mainframe/crying.png";
                    resultContainer.appendChild(imgdiv)
                    return;
                }
                // response contains valid result
                response.json().then(function(data) {
                    // loop through JSON and build HTML output
                    for (let i = 0; i < data.length; i++) {
                        const div = document.createElement("div");
                        div.innerHTML = data[i].name + ' ' + data[i].email;
                        resultContainer.appendChild(div);
                    }
                })
            })
    }
</script>