<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">

    <img src="/static/assets/general/bassoonlogo.png" width="55" style="padding-right: 7px; padding-left: 7px; cursor: pointer" class="align-center" alt="" title="Home" onclick="location.href='/'">

    <a class="navbar-brand" href="/" style="font-family: Helvetica" title="Home">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/hawkers">Hawkers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/walruses">Walruses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kangaroos">Kangaroos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stub">Stub</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Our Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/everitt/everitthomepage">Everitt</a>
                    <a class="dropdown-item" href="/daniel/home">Daniel</a>
                    <a class="dropdown-item" href="/lucas/home">Lucas</a>
                    <a class="dropdown-item" href="/jun">Jun</a>
                    <a class="dropdown-item" href="/rithwikh">Ŕithwikh</a>
                </div>
            </li>

        </ul>
    </div>
</nav>