:root {
    --positive: #000;
    --negative: #fff;
}

.body {
    color: var(--positive);
    background: var(--negative);
}

body, html {
    height: 100%;
}

.parallax {
    /* If image unavailable */
    background: linear-gradient(#af5eff, #ff7df2);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-frame {
    background-color: rgba(0,0,0, 0.5);
    padding: 5%;
    width: 80%;
    margin: auto;
    height:max-content
}

@media (color-scheme: dark) {
    :: root {}
        --positive: #fff;
        --negative: #000;
    }

}

.dark-toggle {
    background-color: var(--positive);
    color: var(--negative);
}

.button-22 {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    touch-action: manipulation;
}

.button-22:active {
    background-color: #006AE8;
}

.button-22:hover {
    background-color: #1C84FF;
}