:root {
    --primary-light: #000;
    --secondary-light: #fff;
    --primary-dark: #fff;
    --secondary-dark: #000;
}

.background-color-secondary {
    background-color: var(--secondary-light);
}

.color-primary {
    color: var(--primary-light);
}

@media (prefers-color-scheme: dark) {
    .background-color-secondary {
        background-color: var(--secondary-dark);
}

.color-primary{
    color: var(--primary-dark);
    }
}