:root {
    --positive: #000;
    --negative: #fff;
}

.body {
    color: var(--positive);
    background: var(--negative);
}

@media (color-scheme: dark) {
    :: root {}
        --positive: #fff;
        --negative: #000;
    }

}

.dark-toggle {
    background-color: var(--positive);
    color: var(--negative);
}