 body, html {
    height: 100%;
    font-family: "Segoe UI";
    color: white;
    background: rgba(0,0,0,0.8);
}

.parallax {
    /* If image unavailable */
    background: linear-gradient(#af5eff, #ff7df2);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-frame {
    background-color: rgba(0,0,0, 0.5);
    padding: 5%;
    width: 80%;
    margin: auto;
    height:max-content
}