<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>About me</h1>
    <p>I am Everitt Cheng, I am an 11th grader at Del Norte High School. I was born in New York and moved to California at the age of 8. My family and I come from Chinese descent, with my family still practicing aspects of Chinese culture consistently. I like playing video games and watching YouTube videos. I especially enjoy learning about modern history on YouTube, and also learn through my friends. I also aspire to learn multiple languages in the future in both coding and actual languages. Using languages I could travel the world someday.
    </p>
    <div/>
</div>
<img src="/static/chinanumab1.jpeg" width="750" height="500" class="d-inline-block align-center" alt="">
<div/>
</body>
</html>
</p>
</div>

</body>
</html>