{% extends "daniel/d_template.html" %}

{% set imageurl = "/static/assets/backgrounds/pawel-czerwinski-purple-unsplash.jpg" %}
{% set project = "API" %}
{% set subheading = "Daniel's API Page" %}

{% block under %}

    <style>
        #apiImage{
            cursor: pointer;
            width: 40vw;
            border-radius: 10px;
            border-width: 2px;

        }
    </style>

    <div class="parallax" style="height:max-content">
        <div class="frame" id="parallax-frame">
            <!-- New stuff goes here -->
            <div class="d-flex justify-content-center mb-2">
                <h4>API</h4>
            </div>
            <div class="d-flex justify-content-center mb-2">
                For my API integration, I am calling a webAPI I created in my Trimester 1 project to display random images of animals.
            </div>
            <div class="d-flex justify-content-center mb-2">
                <button class="btn btn-success" style="width: 60%" onclick="window.location.reload()"> Refresh page for new image </button>
            </div>
            <div class="d-flex justify-content-center">
                <img id="apiImage" onclick="window.location.reload()" src="{{api_image}}">
            </div>
        </div>
    </div>

{% endblock %}