<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
</head>

<link href="/static/assets/daniel/parallax.css" rel="stylesheet">
<style>
    .parallax{
        background-image: url("/static/assets/backgrounds/shubham-dhage-unsplash-surreal.jpg")
    }
</style>


<body>
<div class="parallax" style="height: 15%"></div>
<div class="parallax">
    <div id="parallax-frame">
        <p style="color: white"> Hello! testing this here </p>
    </div>
</div>
<div class="parallax" style="height: 80%"></div>
</body>
</html>