<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>

    <link href="/static/assets/general/main.css" rel="stylesheet">
</head>


<!--
<style>
    .parallax{
        background-image: url("/static/assets/backgrounds/shubham-dhage-unsplash-surreal.jpg")
    }
</style>
-->

<body>
<div class="parallax" style="height: 15%"></div>
<div class="parallax">
    <div id="parallax-frame">
        <div class="title"> Title Test </div>
        Normal Font Test
    </div>
</div>
<div class="parallax" style="height: 80%"></div>
</body>
</html>