{% extends "daniel/d_template.html" %}

{% set imageurl = "/static/assets/backgrounds/shubham-dhage-unsplash-surreal.jpg" %}
{% set project = "Home" %}
{% set subheading = "About Me" %}

{% block under %}

<style>
    #imageSwitch{
        cursor: pointer;
        width: 40vw;
        border-radius: 10px;
        border-width: 2px;
        border-color: lightcoral;

    }
</style>

<div class="parallax" style="height:max-content">
    <div class="frame" id="parallax-frame">
        <!-- New stuff goes here -->
        <div class="d-flex justify-content-center mb-2">
            I am Daniel Tsivkovski, one of the contributors to this AP Computer Science Principles project. I enjoy running, biking, and hanging out with my friends.</div>
        <div class="d-flex justify-content-center mb-2">
            <div class="btn-group">
            <button onclick="location.href='https://github.com/NinjaBreadLord/super-duper-bassoons'" class="btn btn-primary"> Github </button>
            <button class="btn btn-warning" onclick="imageSwitch()"> Switch Image! </button>
            <button onclick="location.href='https://docs.google.com/document/d/1PeEx1YdkPbe1ykQ0fboJnTnEJBK2chOiKaOZaK73VcM/edit?usp=sharing'" class="btn btn-primary"> Journal </button>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-2">
        <img id="imageSwitch" onclick="imageSwitch()" src="/static/assets/daniel/imageSwitch/normal.jpg">
        </div>
        <div class="d-flex justify-content-center mb-2">
            The API that I used is currently down, will be fixing it soon.</div>
        <div class="d-flex justify-content-center">
            <img id="apiImage" style="cursor: pointer; width: 500px" title="Reload Image" onclick="window.location.reload()" src="/static/assets/backgrounds/tea-field-ravi-pinisetti-unsplash.jpg">
        </div>
    </div>
</div>

<script>

    function imageSwitch(){
        const image = document.getElementById('imageSwitch')

        if (image.src.match("/static/assets/daniel/imageSwitch/normal.jpg")) {
            image.src = "/static/assets/daniel/imageSwitch/wideopen.jpg";
        } else {
            image.src = "/static/assets/daniel/imageSwitch/normal.jpg";
        }
    }
</script>
{% endblock %}