<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">

    <img src="/static/assets/daniel/dtsivkovski-icon.png" width="55" style="padding-right: 7px; padding-left: 7px; cursor: pointer" class="align-center" alt="" title="Home" onclick="location.href='/'">

    <a class="navbar-brand" href="/daniel/home" style="font-family: Arial" title="Daniel's Home Page">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/daniel/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="visibility: hidden"> </a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success" title="Back to Main Site" onclick="location.href='/'">Back to Main Site</button>
            </li>

            <!--DROPDOWN TEMPLATE
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Our Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/everitt">Everitt</a>
                    <a class="dropdown-item" href="/daniel/home">Daniel</a>
                    <a class="dropdown-item" href="/lucas">Lucas</a>
                    <a class="dropdown-item" href="/jun">Jun</a>
                    <a class="dropdown-item" href="/rithwikh">Rithwikh</a>
                </div>
            </li>
            -->

        </ul>
    </div>
</nav>