<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Importing Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Making the scale of the website adapt to screen (MOBILE IMPROVEMENT) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Create Task - Daniel + Everitt</title>
    <!-- We are using google font apis for a cleaner look on your website, see the links below. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<style>
    .content {
        max-width: 1000px;
        margin: auto;
    }

    body {
        font-family: 'Dongle', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
        min-height: 100%;
        background-color: #212529;
    }

</style>

<body class="content">



<div class="row py-5 fs-1 bg-dark text-white align-center"> Daniel and Everitt's Create Task </div>

<style>
    table,
    th,
    td {
        border: 1px solid #212529;
    }

</style>

<div>
    <p class="fs-5 pt-2 text-white">Put in a list of what you want to order separated by a comma and space like "Fu Shou Shan, Formosa Red" and our program will calculate the total cost of what you ordered. If your order costs more than $85, you qualify for a 20% coupon!</p>
</div>
<div class="text-white pt-3">
    <table class="table">
        <thead>
        <tr>
            <th class="text-white bg-primary">Name</th>
            <th class="text-white bg-primary">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-dark bg-white">Fu Shou Shan</td>
            <td class="text-dark bg-white">$39.00</td>
        </tr>
        <tr>
            <td class="text-dark bg-white">Formosa Red</td>
            <td class="text-dark bg-white">$32.00</td>
        </tr>
        <tr>
            <td class="text-dark bg-white">Cloud and Mist</td>
            <td class="text-dark bg-white">$22.00</td>
        </tr>
        <tr>
            <td class="text-dark bg-white">Xin Gong Yi</td>
            <td class="text-dark bg-white">$21.00</td>
        </tr>
        <tr>
            <td class="text-dark bg-white">Native Cultivar Reserve</td>
            <td class="text-dark bg-white">$44.00</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row align-center pt-5">
    <input type="text" class="form-control" id="terms" placeholder="Type Here">
</div>
<div class="row align-center">
    <button class="btn btn-primary my-2" id="submit_text" onclick="input();">Submit</button>
</div>

<div class="row align-center p-3">
    <div class="container text-white" id="output"> </div>
</div>

<script>
    // Creates a dictionary with all price values of the items
    const dict = {
        'Fu Shou Shan': 39.00,
        'Formosa Red': 32.00,
        'Cloud and Mist': 22.00,
        'Xin Gong Yi': 21.00,
        'Native Cultivar Reserve': 44.00
    };

    // Adds an event listener to listen for an "Enter" key keypress in the input
    var inputbar = document.getElementById("terms");
    inputbar.addEventListener('keyup', function(event) {

        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("submit_text").click();
        }
    });

    function input() {
        // Gets the terms input by the user
        var terms = document.getElementById("terms").value;

        // Gets the div where all outputs will be shown and clears it for a new query
        var outputdiv = document.getElementById("output");
        while (outputdiv.firstChild) {
            outputdiv.removeChild(outputdiv.firstChild);
        };

        // Splits the input by a comma and a space and adds it into an array
        var itemArray = terms.split(", ");

        //Creates total variable and resets it to 0, will add to it later on within for loop
        var total = 0;

        //for loop iterating for the length of the itemArray, or how many items are added from the input
        for (var i = 0; i < itemArray.length; i++) {
            //Sets the indexed strings from the array within a variable
            j = itemArray[i];

            //Creates bottom table for all items added from input bar
            var jdiv = document.createElement("div");
            jdiv.className = "row";
            jdiv.innerHTML = j + " - $" + dict[j];
            outputdiv.appendChild(jdiv);

            //Calls the dictionary and adds the values of each item from the dictionary to the total variable
            total += dict[j];
        }

        //Rounds the result to two decimal places
        total = total.toFixed(2);

        //If statement for coupon over $85
        if (total >= 85) {
            //Tell the user that their order qualifies for the coupon
            var div = document.createElement("div");
            div.className = "row pt-2 text-info";
            div.innerHTML = "<hr/> Because your order is over $85, you qualify for a 20% off coupon!";
            outputdiv.appendChild(div);

            //Show original total before coupon
            var result = document.createElement("div");
            result.className = "row pt-2 text-white";
            result.innerHTML = "<hr/> The original total was $" + total;
            outputdiv.appendChild(result);
            
            // Change total to discounted total and round to two decimal places
            total = total * 0.8;
            total = total.toFixed(2);

            // Show discounted total to user
            var result = document.createElement("div");
            result.className = "row pt-2 text-warning";
            result.innerHTML = "<hr/> The new total is $" + total;
            outputdiv.appendChild(result);
        }
        else{
            //Prints total
            var result = document.createElement("div");
            result.className = "row pt-2 text-warning";
            result.innerHTML = "<hr/> The total is $" + total;
            outputdiv.appendChild(result);
        }

    }

</script>

</body>
