<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Home" %}

{% set small_anim_img = "/static/assets/general/flying-bird.gif" %}

{% block body %}
<link href="/static/assets/daniel/parallax.css" rel="stylesheet">

<style>
    .parallax {
        background-image: url("/static/assets/backgrounds/tea-field-ravi-pinisetti-unsplash.jpg");
    }
</style>

<div class="parallax" style="height: 25%"></div>
<div class="parallax">
    <marquee behavior="scroll" direction="left" scrollamount = "10">
        {% for i in range(1,20) %}
        <img class="ms-5" src={{small_anim_img}} width="107" height="80" alt="Natural" />
        {% endfor %}



    </marquee>
    <div class="d-flex justify-content-center">
    <div class="card text-white text-center bg-dark border-success" style="width: 60%">
        <div class="card-body justify-content-center">
            <h1 class="card-title">Home Page</h1>
        </div>
        <div class="card-footer"> Welcome to the Super Duper Bassoons home page! </div>

    </div>
    </div>
    <marquee behavior="scroll" direction="left" scrollamount = "10">
        {% for i in range(1,20) %}
        <img class="ms-5" src={{small_anim_img}} width="107" height="80" alt="Natural" />
        {% endfor %}

</div>
<div class="parallax" style="height: 40%"></div>

<div>

</div>
{% endblock %}

{% block background %}
{% endblock %}