<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Home" %}

{% block body %}
<link href="/static/assets/daniel/parallax.css" rel="stylesheet">

<style>
    .parallax {
        background-image: url("static/assets/backgrounds/nick-fewings-city-unsplash.jpg");
    }
</style>

<div class="parallax" style="height: 25%"></div>
<div class="parallax">
    <div id="parallax-frame" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="d-flex justify-content-center">
            <h1> Home Page </h1>
        </div>
        <div class="d-flex justify-content-center">
            <h4> Welcome to the Super Duper Bassoons Home Page!</h4>
        </div>
    </div>
</div>
<div class="parallax" style="height: 40%"></div>
{% endblock %}

{% block background %}
{% endblock %}