<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
            font-family: monospace;
            text-align: center;
            font-size: 40px;
        }
        img {
            width: 350px;
            height: 400px;
            display: inline-grid;
            margin: 0 auto;
        }
        th,td{
            border:0;
        }

    </style>
</head>
<script>
    function flip(i, k) {
        const backs = ['/static/TeaPictures/cloudandmist.jpg', '/static/TeaPictures/green_tea.png', '/static/TeaPictures/cloudandmist.jpg', '/static/TeaPictures/xingongyi.jpg', '/static/TeaPictures/formosared20.jpg', '/static/TeaPictures/formosared20.jpg', '/static/TeaPictures/xingongyi.jpg', '/static/TeaPictures/nativecultivarreserve.jpg', '/static/TeaPictures/green_tea.png', '/static/TeaPictures/nativecultivarreserve.jpg'];
        picId = 'card_id' + i;
        imgSrc = "<img src='" + backs[i] + "' />";
        document.getElementById(picId).innerHTML = imgSrc;
        if (k >= 0) {
            match()
        }
        else {
            let i=l
        }
    }
    function match(i, l) {
        if (i === l) {
            alert("Nice! Enjoy your 5% discount on tea!")
        } else{
            alert("Nice try!")
        }
    }

    {#    function match() {#}
    {#    if (selected.length === 2){#}
    {#        if (backs[0] === backs[1]) {#}
    {#            alert("Nice! Enjoy your 5% discount on tea!")#}
    {#        } else#}
    {#        {#}
    {#            alert("Nice try!")#}
    {#        }#}
    {#    }#}


    {#        picId.setAttribute('data-id', i)#}
    {#        backs[i].setAttribute('card_id', i)#}
    {#        var backID = this.getAttribute('card_id' + i)#}
    {#        backID.push(selected)#}
    {#        if (backID.length === 2) {#}
    {#            match()#}
    {#        }#}
    {#    }#}
    {#function match() {#}
    {#    var cards = document.querySelectorAll('img')#}
    {#    const firstID = selected[0]#}
    {#    const secondID = selected[1]#}
    {#    if (selected[0] === selected[1]) {#}
    {#        cards[firstID].setAttribute('src', 'https://www.kindpng.com/picc/m/0-8047_youtube-thumbs-up-png-transparent-png.png')#}
    {#        cards[secondID].setAttribute('src', 'https://www.kindpng.com/picc/m/0-8047_youtube-thumbs-up-png-transparent-png.png')#}
    {#    } else {#}
    {#        cards[firstID].setAttribute('src', 'https://opengameart.org/sites/default/files/card%20back%20black.png')#}
    {#        cards[secondID].setAttribute('src', 'https://opengameart.org/sites/default/files/card%20back%20black.png')#}
    {#    }#}
    {#    selected = []#}


    function loadpics(how_many_times) {
        newDiv = document.createElement("div");
        document.getElementById("main").appendChild(newDiv);
        let i=0;
        let k=-1;
        while(i<how_many_times){
            newBtn = document.createElement("button");
            newBtn.id = 'card_id' + i;
            let j=i;
            let m=k;
            newBtn.innerHTML = "<img src='https://opengameart.org/sites/default/files/card%20back%20black.png' />";
            newBtn.onclick = function () { flip(j, m);}
            newDiv.appendChild(newBtn);
            i++;
            k++;
        }
    }
</script>

<body onload="loadpics(10)">


<div id="main"></div>


</body>

</html>