<!DOCTYPE html>
<html lang="en">
<head>
    <script>

            let CardID = []

            function flipCard(i) {
                const backs = ['/static/TeaPictures/cloudandmist.jpg', '/static/TeaPictures/green_tea.png', '/static/TeaPictures/cloudandmist.jpg', '/static/TeaPictures/xingongyi.jpg', '/static/TeaPictures/formosared20.jpg', '/static/TeaPictures/formosared20.jpg', '/static/TeaPictures/xingongyi.jpg', '/static/TeaPictures/nativecultivarreserve.jpg', '/static/TeaPictures/green_tea.png', '/static/TeaPictures/nativecultivarreserve.jpg'];
                picID = "backsID" + i;
                imgSrc = "<img src='" + backs[i] + "' />";
                document.getElementById(picID).innerHTML = imgSrc;
                let picID = document.querySelectorAll('img')
                if (picID.length === 2) {
                    return match(500)
                }
            }

            function match(500) {
                var cards = document.querySelectorAll('img')
                const FirstID = CardID[0]
                const SecondID = CardID[1]
                if (CardID[0] === CardID[1]) {
                    cards[FirstID].setAttribute('src', 'https://www.kindpng.com/picc/m/0-8047_youtube-thumbs-up-png-transparent-png.png')
                    cards[SecondID].setAttribute('src', 'https://www.kindpng.com/picc/m/0-8047_youtube-thumbs-up-png-transparent-png.png')
                } else {
                    cards[FirstID].setAttribute('src', 'https://opengameart.org/sites/default/files/card%20back%20black.png')
                    cards[SecondID].setAttribute('src', 'https://opengameart.org/sites/default/files/card%20back%20black.png')
                }
                CardID = []
            }

            function loadpics(picsNum) {
                newDiv = document.createElement("div");
                document.getElementById("container").appendChild(newDiv);
                let i = 0; //index
                while (i < picsNum) //iteration of images display
                newBtn = document.createElement("button");
                newBtn.id = "backsID" + i;
                npId = "unique_id" + i;
                let j = i;
                newBtn.innerHTML = "<img src='https://opengameart.org/sites/default/files/card%20back%20black.png' />";
                newBtn.onclick = function () {
                    flipCard(j); //call to function
                }
                newDiv.appendChild(newBtn);
                i++;
        }

    </script>
    <h1> Match the Cards!</h1>
        <body onload="loadpics(10)">
        <p id="container"> </p>

    </script>
    <style>
        h1 {
            font-family: monospace;
            text-align: center;
            font-size: 40px;
        }
        img {
            width: 328px;
            height: 400px;
            display: inline-grid;
            margin: 0 auto;
        }
        th,td{
            border:0;
        }

        </style>
</head>
<body>

</body>
