{% extends "layouts/base.html" %}

{% set moreInformation = "https://www.macys.com/shop/product/michael-kors-mens-regular-fit-airsoft-stretch-non-iron-performance-solid-dress-shirt?ID=4862567&CategoryID=20635&swatchColor=Navy" %}

{% block body %}



<style>

    .button {
        background-color: #1c81c9;
        -webkit-border-radius: 60px;
        border-radius: 60px;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: Comic Sans MS;
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
    }
    @keyframes glowing {
        0% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
        50% {
            background-color: #8761f8;
            box-shadow: 0 0 20px #8761f8;
        }
        100% {
            background-color: #5f2afd;
            box-shadow: 0 0 5px #5f2afd;
        }
    }
    .button {
        animation: glowing 1300ms infinite;
    }


    table, th, td {
        border:1px solid #4709ff;
    }

    <style>
     .p1 {
         font-family: "Times New Roman", Times, serif;
     }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .p3 {
        color: rgba(255, 255, 255, 0.99);
        font-family: "Monaco", "Monaco", fantasy;
    }

    body {
        background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

<div class="mt-5">
    <div class="p-5 justify-content-center">
        <div class="row p-3" style="font: 300px" >
            Blue long sleeve shirt. It is airsoft stretch, so it is very comfortable. Very modern. Will make handsome.
        </div>
        <div class="row p-3">
            Rating: 5 Stars
        </div>
        <div class="row p-3">
            Color: Blue
        </div>
        <div class="row p-3">
            Cost: $85.00
        </div>
        <div class="row p-3">
            <a href="{{ moreInformation }}" class="link">More Information</a>
        </div>
        <div class "row p-1>



    </div>

</div>
</div>


{% endblock %}

{% block background %}

{% endblock %}