{% extends "store/teaBase.html" %}

{% block body %}
<h2>
<strong>
    Check-Out
</strong>
</h2>

    <style>
    h2{
        font-size: 70px;
        text-align: center;
        font-family: 'Open Sans';
        border-bottom: 3px solid #FDC4F1;
        justify-content: space-between;
        margin: auto;

    }
    </style>
    <body>
    <div class="header">
    <div>
        <h3>
                Your Items
        </h3>
    </div>
    <h5 class="remove">Remove All</h5>
    </div>
    </body>
    <style>
    h3{
        font-family: 'Open Sans';
        font-size: 30px;
        margin: auto;
        width: 95%;
        height: 25%;
        font-weight: 700;
        color: #464f58;

    }

        body{
            margin: 0;
            padding: 0;
            background:linear-gradient(to bottom left, #ffffff, #cfebfd);
            height: 100vh;
            justify-content: center;
            align-items: center;
            color: black;
        }

        .header {
            margin: auto;
            width: 85%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000000;
        }
        .heading{
            font-size: 18px;
            font-family: 'Open Sans';
            font-weight: 700;
            color: #464f58;
        }
        .remove{
            font-size: 18px;
            font-family: 'Open Sans';
            font-weight: 500;
            color: #ff0000;
            border-bottom: 1px solid #ff0000;
        }

    </style>

    <div class="header">
    </div>

    <div class="items">
        <div class="images">
            <img id="image" src="/static/TeePictures/flannel.png" height = "300" width = "270">
        <div class="about">
            <h1 class="name"Classy Button Up Shirt></h1>
            <h3 class="size"Large></h3>
        </div>
    </div>
    <style>
    .items {
        margin: auto;
        width: 75%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .images{
            width: 15%;
            text-align: center;
        }
        .about{
            height: 75%;
        }
        .name{
            padding-top: 7px;
            line-height: 12px;
            font-size: 32px;
            font-family: 'Open Sans';
            font-weight: 900;
            color: black;
        }
        .size{
            line-height: 12px;
            font-size: 20px;
            font-family: 'Open Sans';
            font-wight: 600;
            color: black;
        }

    </style>
    <div class="price">
        <div class="money">$17.99</div>
        <div class="Remove"Remove></div>
    </div>
    <style>
    .price {
        height: 100%;
        text-align: right;
    }
        .money{
            padding-top: 20px;
            font-size: 24px;
            font-family: 'Open Sans';
            font-weight: 1000;
            color: black;
        }

    </style>
    <div class="amount">
        <div class="btn">+</div>
        <div class="num">2</div>
        <div class="btn">-</div>
    </div>
    <style>
    .amount{
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-family: 'Open Sans';
        font-weight: 1000;
        color: black;
    }
    .num{
        font-size: 18px;
        font-family: 'Open Sans';
        font-weight: 1000;
        color: black;
    }
    </style>
    <!-- repeat for each item -->
        <div class="items">
            <div class="images">
                <img src="https://www.rollingstone.com/wp-content/uploads/2021/05/Jonas-Brothers-Marshmello-press-photo-2-credit-Cynthia-Parkhurst.jpeg" width="140" height="80" alt="Natural" />
            </div>
            <div class="about">
                <h1 class="name"Nike Shirt></h1>
                <h3 class="size"Large></h3>
            </div>
        </div>
        <!-- css here -->
        <div class="price">
            <div class="money">$9.99</div>
            <div class="Remove"Remove></div>
        </div>
        <!-- css here -->
        <div class="amount">
            <div class="btn">+</div>
            <div class="num">1</div>
            <div class="btn">-</div>
        </div>

        <div class="items">
            <div class="images">
                <img id="image" src="/static/TeePictures/flannel.png" height = "300" width = "270">
            </div>
            <div class="about">
                <h1 class="name"Long Sleeve Shirt></h1>
                <h3 class="size"Large></h3>
            </div>
        </div>
        <!-- css here -->
        <div class="price">
            <div class="money">$8.99</div>
            <div class="Remove"Remove></div>
        </div>
        <!-- css here -->
        <div class="amount">
            <div class="btn">+</div>
            <div class="num">1</div>
            <div class="btn">-</div>
        </div>

        <div class="items">
            <div class="images">
                <img src="static/TeePictures/nikeShirt.png" style="height: 120px">
            </div>
            <div class="about">
                <h1 class="name"Nike Shirt></h1>
                <h3 class="size"Large></h3>
            </div>
        </div>
        <!-- css here -->
        <div class="price">
            <div class="money">$9.99</div>
            <div class="Remove"Remove></div>
        </div>
        <!-- css here -->
        <div class="amount">
            <div class="btn">+</div>
            <div class="num">1</div>
            <div class="btn">-</div>
        </div>

        <div class="items">
            <div class="images">
                <img src="static/TeePictures/whiteShirt.png" style="height: 120px">
            </div>
            <div class="about">
                <h1 class="name"White Shirt></h1>
                <h3 class="size"Medium></h3>
            </div>
        </div>
        <!-- css here -->
        <div class="price">
            <div class="money">$7.99</div>
            <div class="Remove"Remove></div>
        </div>
        <!-- css here -->
        <div class="amount">
            <div class="btn">+</div>
            <div class="num">3</div>
            <div class="btn">-</div>
        </div>
</div>
    <hr style="width:25%;text-align:right;margin-right:0">
    <div class="checkout">
        <div class="total">
            <div>
                <div class="subtotal">Sub-Total</div>
                <div class="items">7 items</div>
            </div>
            <div class="totalm">$32.99</div>
        </div>
        <button class="button">Checkout</button>
    </div>
</div>
<style>
    .checkout{
        float: right;
        margin-right: 5%;
        width: 25%;
    }
    .total{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .subtotal{
        font-size: 20px;
        font-family: 'Open sans';
        font-weight: 700;
        color: black;
    }
    .items{
        font-size: 15px;
        font-family: 'Open Sans';
        font-weight: 500;
        color: lightgray;
        line-height: 10px;
    }
    .totalm{
        font-size: 40px;
        font-family: 'Open Sans';
        font-weight: 900;
        color: black;
        padding-top: 5px;
    }
    .button{
        cursor: pointer;
        width: 25vw;
        border-radius: 10px;
        border-width: 2px;
        border-color: #1F75FE;
        background-color: default;
    }
    .button:hover {background-color: lightgray}

    .button:active {
        background-color: lightgray;
        box-shadow: 0 5px #248;
        transform: translateY(4px);
    }
</style>


{% endblock %}
