{% extends "store/teaShop/teaBase.html" %}

{% set project = "Teee Shop" %}
{% set teeelist = teeelist %}
{% block body %}

<style>
    .parallax {
        background-image: url("/static/assets/backgrounds/mall.png");
    }
    .carousel img {
        max-height: 1500px;
        max-width: 500px !important;
        margin: 0 auto;
    }
    .carousel slide{
        padding: 0;
        margin: 0;
    }
    .columnimage {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    table, th, td {
        border:5px solid #da1616;
    }

    #searchbar{
        margin-left: 15%;
        padding:15px;
        border-radius: 10px;
    }

    input[type=text] {
        width: 30%;
        -webkit-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out;
    }

    #list{
        font-size:  1.5em;
        margin-left: 90px;
    }

    .shirts{
        display: none;
    }
</style>


<!--<center>-->
<!--    <img src="/static/TeaPictures/green_tea.png" style="width:300px;height:300px;">-->
<!--    <p>Green Tea </p>-->
<!--</center>-->

<html>
<body style="background-color:#e50505;">

<!-- input tag -->
<div style="padding-top: 10px"><input id="searchbar" onkeyup="searchShirts()" type="text"
                                      name="search" placeholder="Search for shirts...">
</div>

<!-- ordered list -->
<div id="resultsDiv">
</div>
<ol id='list'>
    <li class="shirts" class="color"><a class="button" id="white" href="/store/Flannels">Flannel Shirt </a></li>
    <li class="shirts" class="color"><a class="button" id="black" href="/store/Turtlenecks">Turtleneck</a></li>
    <li class="shirts" class="color"><a class="button" id="black" href="/store/nikeShirt">Nike Shirt</a></li>
    <li class="shirts" class="color"><a class="button" id="blue" href="/store/LongShirt">Long Shirt</a></li>
</ol>

</body>
</html>

<script>
    // JavaScript code
    function searchShirts() {
        let input = document.getElementById('searchbar').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('shirts') || document.getElementsByClassName('color');
        let count = 0;

        for (i = 0; i < x.length; i++) {
            if (input.trim() != '' && x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="list-item";
                count = count + 1;
                //alert('found a match: ' + input);
            } else {
                x[i].style.display = "none";
                //alert('no match');
            }
        }
        if (input.trim() == '') {
            document.getElementById('resultsDiv').innerHTML = '';
        } else {
            document.getElementById('resultsDiv').innerHTML = 'Found ' + count + ' items.';
        }
    }
</script>

<div class="parallax" style="height: 0%"></div>
<div class="parallax">
    </marquee>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 h-15" height="500px" src="/static/assets/shopping.webp" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-15" height="500px" src="/static/TeaPictures/chinese-man-drinking-tea.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-15" height="500px" src="/static/TeaPictures/putin-drinking-tea.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="background-color: rgba(0, 0, 0, 0.50)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="background-color: rgba(0, 0, 0, 0.50)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="parallax">

        <header class="text-light bg-dark">
            <div class="d-flex align-items-center">
                <div id="teeeparent" class="row p-5">
                    {% for teee in teeelist %}
                    <div type="button" id={{teee.name}} class="col-lg-3 btn btn-dark text-center" data-bs-toggle="modal" data-bs-target="#{{teee.teeid}}"><p class="image-up"><img class="columnimage" id="image" src={{teee.imgurl}}><center><h5>{{teee.name}}, {{teee.type}}</h5></center><p/></div>

                    <!-- Modal -->
                    <div class="modal fade" id={{teee.teeid}} tabindex="-1" aria-labelledby="{{teee.teeid}}Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content bg-dark text-light">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="font-family: Arial, sans-serif; font-size: xx-large;" id="{{teee.teeid}}Label">{{teee.name}}</h4>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="font-family: Arial, sans-serif;">
                                    <div class="row">
                                        <div class="col-6 p-3"><img class="columnimage" id="image" src={{teee.imgurl}}></div>
                                        <div class="col-6 p-3">
                                            <div class="list-group-item bg-primary text-light" style="font-size: large">Type: {{teee.type}}</div>
                                            <div class="row p-3" style="font-family: Arial, sans-serif; font-size: large;">{{teee.description}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" style="font-family: Arial, sans-serif;" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a type="button" style="font-family: Arial, sans-serif;" class="btn btn-primary" href={{teee.url}}>Purchase on external site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </header>

    </div>
</div>



    {% endblock %}

