{% extends "store/teaShop/teaBase.html" %}

{% block body %}



<div class="parallax">

    <header class="p-3 mb-4 border-bottom text-light bg-dark">
        <div class="d-flex align-items-center text-decoration-none">
            <table style="margin: 5%">


                <tr>
                    <td> <a class="button" href="/store/Flannels">Flannel Shirt</a> <img id="image" src="/static/TeePictures/flannel.png" height = "300" width = "270"> </td>
                    <td> <a class="button" href="/store/Turtlenecks">Turtleneck Shirt</a> <img id="image" src="/static/TeePictures/turtleneck.png" height ="300" width = "270"</td>
                </tr>


                <tr>
                    <td> <a class="button" href="/store/nikeShirt">Nike Shirt</a> <img id="image" src="/static/TeePictures/nikeShirt.png" height = "300" width = "270"> </td>
                    <td><img id="image" src="/static/TeePictures/longSleeve.png" height ="300" width = "270"></td>
                </tr>

                <tr>


        </div>
    </header>

</div>

<div class="center-block" style="margin: 10% 20% 20%; font-family: gilroy,serif;">

    <div class="center" style="height:max-content">
        <h1><strong>Popular T-Shirts</strong></h1>
    </div>
    <p><center>
    Click on the link to view more about it
</center> </p>


    <html>
    <style>
        table, th, td {
            border:5px solid #da1616;
        }
    </style>

    <form action="javascript:void(0);" onsubmit="updateResults()">
        <input type="checkbox" id="choose" name="choose">
        <label for="choose"> Random number generator</label>
        <input type="submit" value="Submit">
    </form>

    <script>

        /* This function displays the random number */
        function updateResults() {
            let number = document.getElementById("choose");

            if (number) {
                ;
            } else {
                ;
            }

    </script>


    <body>


    {% endblock %}


            <form action="javascript:void(0);" onsubmit="updateResults()">
                <input type="checkbox" id="choose" name="choose">
                <label for="choose"> Random number generator</label>
                <input type="submit" value="Submit">
            </form>

<script>

            /* This function displays the random number */
            function updateResults() {
                let number = document.getElementById("choose");

            if (number) {
            ;
            } else {
           ;
            }

</script>




