{% extends "store/teaShop/teaBase.html" %}

{% block body %}

<link href="/static/assets/rithwikh/dark.css" rel="stylesheet">

<html>

<div id="google_translate_element"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>

<script type="text/javascript" src=
        "https://translate.google.com/translate_a/element.js?
		cb=googleTranslateElementInit">
</script>

<head>
    <title>HTML Background Color</title>
</head>
<body style="background-color:#e50505;">

<!-- input tag -->
<div style="padding-top: 10px"><input id="searchbar" onkeyup="searchShirts()" type="text"
       name="search" placeholder="Search for shirts...">
</div>

<!-- ordered list -->
<div id="resultsDiv">
</div>
<ol id='list'>
    <li class="shirts"><a class="button" href="/store/Flannels">Flannel Shirt</a></li>
    <li class="shirts"><a class="button" href="/store/Turtlenecks">Turtleneck</a></li>
    <li class="shirts"><a class="button" href="/store/nikeShirt">Nike Shirt</a></li>
    <li class="shirts"><a class="button" href="/store/Flannels">Flannel Shirt</a></li>
</ol>

</body>

</html>

<style>
    table, th, td {
        border:5px solid #da1616;
    }

    #searchbar{
        margin-left: 15%;
        padding:15px;
        border-radius: 10px;
    }

    input[type=text] {
        width: 30%;
        -webkit-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out;
    }

    #list{
        font-size:  1.5em;
        margin-left: 90px;
    }

    .shirts{
        display: none;
    }
</style>

<script>
    // JavaScript code
    function searchShirts() {
        let input = document.getElementById('searchbar').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('shirts');
        let count = 0;

        for (i = 0; i < x.length; i++) {
            if (input.trim() != '' && x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="list-item";
                count = count + 1;
                //alert('found a match: ' + input);
            } else {
                x[i].style.display = "none";
                //alert('no match');
            }
        }
        if (input.trim() == '') {
            document.getElementById('resultsDiv').innerHTML = '';
        } else {
            document.getElementById('resultsDiv').innerHTML = 'Found ' + count + ' items.';
        }
    }
</script>

<div class="parallax">

    <header class="p-3 mb-4 border-bottom text-light bg-dark">
        <div class="d-flex align-items-center text-decoration-none">
            <table style="margin: 5%">
                <tr>
                    <td> <a class="button" href="/store/Flannels">Flannel Shirt</a> <img id="image" src="/static/TeePictures/flannel.png" height = "300" width = "270"> </td>
                    <td> <a class="button" href="/store/Turtlenecks">Turtleneck Shirt</a> <img id="image" src="/static/TeePictures/turtleneck.png" height ="300" width = "270"</td>
                </tr>

                <tr>
                    <td> <a class="button" href="/store/nikeShirt">Nike Shirt</a> <img id="image" src="/static/TeePictures/nikeShirt.png" height = "300" width = "270"> </td>
                    <td><img id="image" src="/static/TeePictures/longSleeve.png" height ="300" width = "270"></td>
                </tr>

        </div>
    </header>

</div>

<div class="center-block" style="margin: 10% 20% 20%; font-family: gilroy,serif;">

    <div class="center" style="height:max-content">
        <h1><strong>Popular T-Shirts</strong></h1>
    </div>
    <p><center>
    Click on the link to view more about it
</center> </p>
</div>

    {% endblock %}